*
!.gitignore
!csgo
csgo/*

!csgo/cfg
csgo/cfg/*
!csgo/cfg/autoexec.cfg
!csgo/cfg/legit.cfg
!csgo/cfg/sound.cfg
!csgo/cfg/fps_tweaks.cfg

!csgo/resource
csgo/resource/*
!csgo/resource/ui
csgo/resource/ui/*
!csgo/resource/ui/radiopanel.txt
